

@mixin circle {
	
	@-ms-keyframes spin-in {
    	from { -ms-transform: rotate(0deg); opacity: 0; width: 0; height: 0; }
	    to { -ms-transform: rotate(360deg); opacity: 1; width: 36em; height: 36em; }
	}
	@-moz-keyframes spin-in {
	    from { -moz-transform: rotate(0deg); opacity: 0; width: 0em; height: 0em; }
	    to { -moz-transform: rotate(360deg); opacity: 1; width: 36em; height: 36em; }
	}
	@-webkit-keyframes spin-in {
	    from { -webkit-transform: rotate(0deg); opacity: 0; width: 0em; height: 0em; }
	    to { -webkit-transform: rotate(360deg); opacity: 1; width: 36em; height: 36em; }
	}
	
	#circleSelector {
		margin-top: -150px;
	}
	
   .circle-container {
	    position: relative;
	    width: 36em;
	    height: 36em;
	    padding: 2.8em;
	    border-radius: 50%;
	    margin: 1.75em auto 0;
	    
	    -webkit-animation-name: spin-in;
	    -webkit-animation-duration: 1000ms;
	    -webkit-animation-timing-function: ease-in;
	    -moz-animation-name: spin-in;
	    -moz-animation-duration: 1000ms;
	    -moz-animation-timing-function: ease-in;
	    -ms-animation-name: spin-in;
	    -ms-animation-duration: 1000ms;
	    -ms-animation-timing-function: ease-in;
	    
	    animation-name: spin-in;
	    animation-duration: 1000ms;
	    animation-timing-function: ease-in;
	    
	}

	.circle-container .v-slot {
	    display: block;
	    position: absolute;
	    top: 50%; 
	    left: 50%;
	    width: 4em; height: 4em;
	    margin: -2em;
	}
	
	.circle-container .v-button {
		white-space: normal !important;
	}
	
	.v-button-wrap {
		margin-top: 15px;
	}
	
	.opaque {
		opacity: 0;
	}
}
