@mixin draganddrop {

	.drop-area {
		height: 240px;
		border-width: 1px;
		border-style: dotted;
		border-radius: 5px;
		width: 500px;
	}

	.draganddroprow {
		width: 497px;
		background-image: linear-gradient(to bottom,#f2f2f2 2%, #e6e6e6 98%);
		background-image: -webkit-linear-gradient(top, #f2f2f2 2%, #e6e6e6 98%);
	}

	.draganddroprow:hover {
		color: #1b87e3;
	}

	.filenameLabel {
		margin-left: 15px;
	}

	.draganddropInfoLabel {
		margin-bottom: 15px;
	}

}