@import "../valo/valo.scss";
@import "circle.scss";

@include circle;

@mixin sample {
  @include valo;
  

  .login-panel {
    animation: 800ms ease 10ms normal backwards 1 running valo-animate-in-slide-up, 600ms ease 100ms normal backwards 1 running valo-animate-in-fade;
    @include valo-panel-style;
    padding: round($v-unit-size / 1.5) round($v-unit-size / 1.5);
    min-width:20px;
    max-width: 90%;
    @include animation(valo-animate-in-slide-up 800ms 10ms backwards, valo-animate-in-fade 600ms 100ms backwards);
       
    > .v-spacing {
      height: round($v-unit-size / 2);
    }

    .labels {
      display: block;

      .h4 {
        margin: 0;
        vertical-align: baseline;
      }

      .h3 {
        margin: 0;
        float: right;
      }
    }
     .fields .v-icon {
      opacity: 0.3;
    }
     
  }   
    $grid-node-indent: 40px;
    .hierarchicalgrid {
    .grid-node-parents-1 {padding-left: $grid-node-indent;}
    .grid-node-parents-2 {padding-left: $grid-node-indent*2;}
    .grid-node-parents-3 {padding-left: $grid-node-indent*3;}
    .grid-node-parents-4 {padding-left: $grid-node-indent*4;}
    .grid-node-parents-5 {padding-left: $grid-node-indent*5;}
    .grid-node-parents-6 {padding-left: $grid-node-indent*6;} 
    // Collapsed node style
    .v-grid-cell.grid-tree-node::before {
        // TODO Could use 'valo-tree-collapsed-icon-style' here
        content: "\f0dd";
        display: inline-block;
        font-family: FontAwesome;
        text-align: center;
        transition: all 100ms ease 0s;
        width: 1.0em;
         
    }
    // Expanded node style
     .v-grid-cell.grid-node-expanded::before {
        content: "\f0da";
    }  
    // Leaf style
    .v-grid-cell.grid-tree-node.grid-node-leaf::before {
        content: "";
        display: none;
        position: relative;
    }
}
	// This is needed because otherwise focusing will mess it up
	.v-grid:focus {
	    .grid-tree-node.v-grid-cell-focused::before {
	        display: inline-block;
	        position: relative;
	        border: none;
	    }
	    .grid-tree-node.grid-node-leaf.v-grid-cell-focused::before {
	        display: none;
	    }
	}
	
	
	// Styling for graph views 
	
	//.v-slot-viewheader {
//		height: 145px !important;
//	}
	
	.v-slot-graphviewheader {
		background: rgb(245, 245, 245);
	}

		.v-slot-graphviewheader > div {
			padding: 0px;
		}
	
	.v-nativebutton-graphheaderimage {
	    border: none;
    	background: transparent;
    }
   
   .v-nativebutton-graphheaderimage:hover {
	    cursor: pointer;
    }

	.v-slot-graphheaderimage {
		border-color: rgb(225, 225, 225);
		border-radius: 10px;
		border-style: solid;
		border-width: 1px;
		height: 100%;
		padding: 20px 10px 10px;
	}

	.v-slot-graphheaderimage:hover {
		opacity: 0.7;
	}
	
	.graphheaderimage img {
		width: 45px;
		height: 45px;
		display: block;
	}

	// End of styling for graph views 

}